:root {
    --accountColor: #596d48;
    --inputColor: #e5e7eb;
    --selectedColor: blue;
    --bgColor:#1F2937;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face{
    font-family: butler;
    src: url(fonts/Butler_Regular.otf);
}

h1, .dummyText, .formMessage, .login {
    font-family: butler;
    color: white;
}

.dummyText {
    width: 50vw;
    font-size: 2em;
}

.login {
    font-size: 1.5em;
}

* {
    margin: 0px;
    padding: 0px;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.picture {
    position: relative;
    width: 40vw;
    height: 100vh;
    overflow: hidden;
}

.unsplash {
    position: absolute;
    height: 100vh;
    width: auto;
    left: -100%;
    right: -100%;
    margin: auto;
}

.logo {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 10vh;
    background-color: rgba(0,0,0,0.7);
    width: 40vw;
    height: 100px;
}

.rhodesisland {
    height: 100px;
    width: auto;
}

.spacer {
    margin-left: 3vw;
}

.signup {
    background-color: var(--bgColor, black);
    width: 60vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    background-color: #29313b;
    display: flex;
    flex-flow: row wrap;
    margin-top: 3vh;
}

.formMessage {
    width: 100%;
    padding: 2% 0 2%; 
}

.input {
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    margin-bottom: 2%;
}

input {
    border: rgb(145, 141, 141) 2px solid;
    border-radius: 3px;
    height: 20px;
    font-size: 14px;
}

input:focus {
    outline: none;
    border: rgb(54, 121, 209) 3px solid;
    box-shadow: 3px;
}

label {
    color: rgb(145, 141, 141);
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    padding-bottom: 1%;
}

.submit {
    background-color: rgb(14, 79, 122);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    border: rgb(7, 69, 110) 2px solid;
    border-radius: 10px;
    width: max(100px, 15vw);
    padding: 10px 10px;
    margin: 5vh 3vw;
}

.submit:hover {
    background-color: rgba(14, 79, 122, 0.5);
    border-color:rgba(7, 69, 110, 0.5)
}

